#app {
  text-align: center;
  border: 2px solid orange;
  padding: 50px;
}

#game {
  border: 2px solid green;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

#word {
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}

#hangman {
  border: 2px solid purple;
  padding: 50px;
}

.letter {
  border: 1px solid red;
  padding: 5px;
}
