#app {
  text-align: center;
  padding-top: 20px;
}

#game {
  margin: 0 auto;
}

img {
  width: 400px;
  height: 200px;
}
#word,
#chosen-letters {
  padding: 10px;
  margin: 10px;
}

form,
#end-message {
  padding: 10px;
  margin: 10px;
  line-height: 1.2em;
}

input,
button {
  font-size: 1.2em;
  margin: 0.5em;
}
input {
  width: 1em;
}

#form-msg {
  font-size: 0.8em;
  color: red;
}

#hangman {
  margin: 0 10px;
}

.letters {
  margin-left: 1em;
}

#chosen-letters .success {
  color: green;
}

#chosen-letters .failure {
  color: red;
  text-decoration: line-through;
}

.letter {
  padding: 5px;
  font-size: 1.2em;
}
