#app {
  text-align: center;
  padding-top: 20px;
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
}

img {
  max-width: 95%;
}
#word,
#chosen-letters {
  padding: 10px;
  margin: 10px;
}

form,
#end-message {
  padding: 10px;
  margin: 10px;
  line-height: 1.2em;
}

input,
button {
  font-size: 1.2em;
  margin: 0.5em;
}
input {
  width: 1em;
}

#form-msg {
  font-size: 0.8em;
  color: red;
}

.letters {
  margin-left: 1em;
}

.success {
  color: green;
}

.failure {
  color: red;
}

#chosen-letters .failure {
  text-decoration: line-through;
}

.letter {
  padding: 5px;
  font-size: 1.2em;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}
